{% extends "base.html"%} 
{% block title %}Login Page{% endblock %}
{% block content%}
<h1>Log in</h1>
<br>
<p>
    <form method="POST">
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password1">Password</label><br>
        <input type="text" id="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <h3>Don't have an account?</h3>
    <a href="{{url_for('auth.signup')}}"><input type="button" value="Sign Up"/>
</p>
{%endblock%}